<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="script.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Dashboard</title>
</head>
<body>
<div class="wrapper container">
    <h1>Dashboard</h1>


    <form action="/create_ride" class="form-group" method="POST">
        
        To:<input type="text" name="ride_to">
        From:<input type="text" name="ride_from">
        
        <input type="submit" value="Request a Ride">
    </form>



    <table>
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for ride in rides %}
                <tr>
                    <td>{{ride.start_point}}</td>
                    <td>{{ride.end_point}}</td>
                    <td>{{ride.User.first_name}}</td>
                    <td><a href="/view">View</a></td>
                </tr>
            {% endfor %}
        </tbody>



    </table>






    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}















</div>


</body>
</html>